.dnLayout {
    background: linear-gradient(to right, #fef9e7, #ffffff);
}

t.dnStepActions {
    display: flex;
}

t.dnDraftBtn {
    background-color: #e0f7fa;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

t.dnButtonGroup {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}