* { box-sizing: border-box; }

html, body {
  margin: auto 0;
  padding: 0;
  font-family: "Mitr", system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}
