* { box-sizing: border-box; }

html, body {
  margin: auto 0;
  background-color: #fff;
  padding: 0;
  font-family: "Prompt", "Mitr", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
.page-container {
  max-width: 1440px;
  margin: 0 auto;
}
