/* =========================
   GLOBAL RESET & FONT
   ========================= */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Prompt", "Mitr", sans-serif;
  background-color: #ffffff;
 /* color: #1f2937; เทาเข้ม อ่านง่าย  */
}

/* =========================
   ROOT APP
   ========================= */

#root {
  width: 100%;
}

/* =========================
   LAYOUT CONTAINER
   ใช้จำกัดความกว้างเฉพาะ content
   ========================= */

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.page-container {
  max-width: 1440px;
  margin: 0 auto;
}