
:root {
  background-color: #ffffff !important; /* บังคับให้รากฐานเป็นสีขาว */
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff !important;
}