html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "Mitr", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


#root {
  width: 100%;
  min-height: 100vh;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}
