/* 
:root {
  background-color: #ffffff !important; 
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff !important;
} */
html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "Mitr", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}
/* html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background-color: #ffffff !important; 
}

:root {
  color-scheme: light !important;
} 

:root, html, body, #root {
  background-color: white !important;
  color: black !important;
  margin: 0;
  padding: 0;
  height: 100%;
} */