html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "Prompt", "Mitr", sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
